# Tweets - exploration

In [3]:
import pandas as pd
from datetime import datetime as dt

In [6]:
tweets = pd.read_csv("../datasets/tweets_full.csv")

In [7]:
len(tweets)

4336445

In [11]:
tweets["len"] = tweets.body.str.len()

In [16]:
tweets.len.describe(percentiles=[0.025, 0.975])

count    4.336445e+06
mean     1.311098e+02
std      6.752215e+01
min      4.000000e+00
2.5%     2.900000e+01
50%      1.180000e+02
97.5%    2.800000e+02
max      3.847000e+03
Name: len, dtype: float64

In [22]:
too_big = tweets[tweets.len > 280]
zero = tweets[tweets.len < 7]

In [86]:
x.body

3337539    $AAPL chart: https://s.yimg.com/uc/finance/cha...
Name: body, dtype: object

In [87]:
x = list(x.sample(random_state=42).body)

In [28]:
tweets[tweets["post_date"] < "2016-06-09"]

,tweet_id,post_date,body,comment_num,retweet_num,like_num,ticker_symbol
1,693434415314292738,2016-01-30 15:03:42,"$TSLA is preparing for Panasonic to bail?, the...",0,0,1,TSLA
4,626160767276990464,2015-07-29 00:42:15,"NFLX Netflix, Inc. Summaryhttp://dlvr.it/BgVpb...",0,0,0,GOOGL
6,558487963584462851,2015-01-23 05:54:41,@RiskReversal @karenfinerman That's true. I'm ...,0,0,0,GOOGL
15,620697212205465601,2015-07-13 22:52:02,XL sectors all UP with $XLK $XLY leading up > ...,0,0,2,GOOGL
20,669876049795284993,2015-11-26 14:51:10,$GOOG - Facebook Inc. Just Helped Google Impro...,0,0,0,GOOG
...,...,...,...,...,...,...,...
99986,722119308663525378,2016-04-18 19:47:14,What are you waiting for? Join our FREE #DayTr...,0,2,0,AAPL
99987,581802395258068992,2015-03-28 13:57:55,$TSLA All analysts say speed bumps ahead. So y...,0,0,0,TSLA
99990,677650574574243840,2015-12-18 01:44:21,http://Amazon.com's buy rating reiterated at P...,0,1,1,AMZN
99994,595354226223624192,2015-05-05 00:28:03,@ASilvasDotCom have you ordered the $MSFT #Hol...,0,1,1,MSFT
99997,574981053812633600,2015-03-09 18:12:20,Unlimited GIRLS!! “Apple will be cable-free HB...,1,0,0,AAPL

In [30]:
print(len(tweets[tweets["comment_num"] == 0]) / len(tweets))
print(len(tweets[tweets["like_num"] == 0]) / len(tweets))
print(len(tweets[tweets["retweet_num"] == 0]) / len(tweets))

0.86522
0.66612
0.82678

In [29]:
tweets_text = tweets["body"].str.findall(r"[\w#!,.]+")

In [30]:
tweets_text.sample(10)

72101      [Paul, Meeks, is, worried, about, Apple., AAPL]
69674    [#Apple, AAPL, s, Other, Court, Fight., Read, ...
21578    [CityFALCON, score, gives, top, rated, news, f...
47277        [Live, shot, of, the, TSLA, production, line]
24793    [For, one, example,, Buffett, sold, his, Home,...
68213    [Outstanding, market, timing, for, Tesla, to, ...
60554    [Commented, on, When, Alphabet, Pleases, The, ...
50589    [#Stock, watchlist, for, tomorrow, IMUC, KBSF,...
80687    [Business, In, boost, to, self, driving, cars,...
43123    [RT, https, twitter.com, moneymorning, status,...
Name: body, dtype: object

In [31]:
vader_score = tweets.loc[:10, "body"].apply(analyzer.polarity_scores)
vader_score[7]

{'neg': 0.083, 'neu': 0.917, 'pos': 0.0, 'compound': -0.4023}

In [32]:
tweets["body"][7]

'These NBA Playoffs are just not fun to watch without Lebron.  Turns out everyone else thinks so too.  Ratings down... #NBAPlayoffs2019 #NBA #basketball #LeBronJames $SPY $QQQ $NFLX $FB $AMZN $TLRY $CGC'

In [7]:
def averager(column):
    column = column.apply(len)
    return column.mean()


tweet_len = tweets["body"].str.len()
tweet_len

0        325
1         83
2        151
3        138
4         96
        ...
99995    139
99996     84
99997    115
99998    123
99999    115
Name: body, Length: 100000, dtype: int64

In [35]:
tweets_main = pd.read_csv("../datasets/Tweet.csv")

non0_comms = tweets_main.loc[tweets_main["comment_num"] > 0, "comment_num"]
non0_likes = tweets_main.loc[tweets_main["like_num"] > 0, "like_num"]
non0_rtwts = tweets_main.loc[tweets_main["retweet_num"] > 0, "retweet_num"]

In [44]:
non0_rtwts.describe()

count    620628.000000
mean          3.723072
std          16.816598
min           1.000000
25%           1.000000
50%           1.000000
75%           3.000000
max         999.000000
Name: retweet_num, dtype: float64